<?xml version="1.0"?>
<launch>
    <include file="$(find ca_driver)/launch/create_2.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

    <node pkg="tf" name ="base_to_laser_broadcaster" type="static_transform_publisher"
        args="0 0 0 3.14 0 0
        base_link laser 100" />
    <node pkg="dj_roomba" name="odom_filter" type="odom_filter.py" />

    <include file="$(find hector_slam_launch)/launch/tutorial.launch" />

    <node pkg="dj_roomba" name="drive" type="drive.py" />
    <node pkg="dj_roomba" name="random_drive" type="random_drive.py" output="screen" />
</launch>
